<form method="post" action="{{ path('app_commande_client_delete', {'id': commande_client.id}) }}" onsubmit="return confirm('Êtes-vous sûr de bien vouloir supprimer cet élément?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ commande_client.id) }}">
    <button class="btn btn-danger btn-sm m-2">Supprimer <i class="fa fa-trash-o p-1"></i></button>
</form>
 