{% extends 'base123.html.twig' %}

{% block title %}Edit CommandeClient{% endblock %}

{% block body %}
<div class="container-xl">
    <div class="page-header d-print-none">
        <div class="row g-2 align-items-center">
            <div class="col">
                <h2 class="page-title">Commande Client</h2>
            </div>
        </div>
    </div>
</div>
<div class="page-body">
    <div class="container-xl">
        <div class="row row-cards">
            <div class="col-12">
                <div class="card">
                    {{ include('commande_client/_form.html.twig', {'button_label': 'Modifier'}) }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
