<form method="post" action="{{ path('app_facture_fournisseur_delete', {'id': facture_fournisseur.id}) }}" onsubmit="return confirm('Êtes-vous sûr de bien vouloir supprimer cet élément?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ facture_fournisseur.id) }}">
    <button class="btn btn-danger btn-sm">Supprimer <i class="bi bi-trash-o p-1"></i></button>
</form>
