{% extends 'base.html.twig' %}

{% block title %}Edit FactureFournisseur{% endblock %}

{% block body %}
<div class="container-xl">
    <div class="page-header d-print-none">
        <div class="row g-2 align-items-center">
            <div class="col"><h2 class="page-title">Facture Fournisseur</h2></div>
        </div>
    </div>
</div>
<div class="page-body">
    <div class="container-xl">
        <div class="row row-cards">
            <div class="col-12">
                <div class="card">
                    <p>{{ include('facture_fournisseur/_form.html.twig', {'button_label': 'Modifier'}) }}</p>
                </div>
            </div>
        </div>
    </div>
</div>     
{% endblock %}
 