{% extends 'base.html.twig' %}

{% block title %}New DepenseCamion{% endblock %}

{% block body %}
    <h1>Create new DepenseCamion</h1>

    {{ include('depense_camion/_form.html.twig') }}

    <a href="{{ path('app_depense_camion_index') }}">back to list</a>
{% endblock %}
