{% extends 'base.html.twig' %}

{% block title %}Edit Banque{% endblock %}

{% block body %}
<div class="container-xl">
    <div class="page-header d-print-none">
        <div class="row g-2 align-items-center">
            <div class="col">
                <h2 class="page-title">Banque</h2>
            </div>
        </div>
    </div>
</div>
<div class="page-body">
    <div class="container-xl">
        <div class="row row-cards">
            <div class="col-12">
                <div class="card">
                    {{ include('banque/_form.html.twig', {'button_label': 'Modifier'}) }}
                    <a class="m-2">{{ include('banque/_delete_form.html.twig') }}</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
 