{% extends 'base123.html.twig' %}

{% block title %}New Personnel{% endblock %}

{% block body %}
<div class="container-xl">
    <div class="page-header d-print-none">
    <div class="row g-2 align-items-center">
        <div class="col">
        <h2 class="page-title">
            Employées
        </h2>
        </div>
    </div>
    </div>
</div>
<div class="page-body">
    <div class="container-xl">
        <div class="row row-cards">
            <div class="col-12">
                <div class="card">
                    {{ include('personnel/_form.html.twig') }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
