<form method="post" action="{{ path('app_entrepot_delete', {'id': entrepot.id}) }}" onsubmit="return confirm('Êtes-vous sûr de bien vouloir supprimer cet élément?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ entrepot.id) }}">
    <button class="btn btn-danger btn-sm">Supprimer <i class="fa fa-trash-o p-1"></i></button>
</form>
