<form method="post" action="{{ path('app_l_commande_client_delete', {'id': l_commande_client.id}) }}" onsubmit="return confirm('Êtes-vous sûr de bien vouloir supprimer cet élément?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ l_commande_client.id) }}">
    <button class="btn">Delete</button>
</form>
