{% extends 'base.html.twig' %}

{% block title %}Edit Versement{% endblock %}

{% block body %}
<div class="container-xl">
    <div class="page-header d-print-none">
    <div class="row g-2 align-items-center">
        <div class="col">
        <h2 class="page-title">Versement</h2>
        </div>
    </div>
</div>
<div class="page-body">
    <div class="container-xl">
        <div class="row row-cards">
            <div class="col-12">
                <div class="card">
                    <p>{{ include('versement/_form.html.twig', {'button_label': 'Modifier'}) }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
