<!DOCTYPE html>
<html>
    <head>
        <title>Sonoya Stocks</title>
    </head>
    <style type="text/css">

    table, th, td {

        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;
        border: 1px solid;
        font-size: 13px;
    }
     th, td {
      padding: 8px;
    }

    .num_tab{
        width: 4px;
    }
    .tab_produit{
        width: 120px;
    }

    .tab_prix{
        width: 83px;
    }

    .tab_q{
        width: 40px;
    }
    .table_tab_right{
        background-color: #737373;
    }

    .table_mt{
        text-align: right;
    }

    .tab_right{
        text-align: right;
        width: 40%;
    }
    
    img {
        height: 200px;
        width: 200px;
    }

    h2 {
        color: #004d00;
    }

    p{
        font-size: 12px;
    }

    .span_p{
        font-size: 10;
        font-style: inherit;
        font-family: serif;
        font-weight: bolder;
    }

    .header_left{
        float: left;
        height: 300px;
        padding-top: 0px;
    }

    .header_right{
        float: right;
        padding-left: 300px;
    }

    .main_tableau{
        padding-top: 220px;
    }

    .tab_left{
        float: right;
        width: 50%;

    }

    #titre_table{
        text-align: left;
        font-size: 14px;
        font-family: normal;
        font-style: inherit;
        padding: 20px;
        background-color: #737373;
    }
    #titre_table2{
        text-align: left;
        font-size: 14px;
        font-family: normal;
        font-style: inherit;
        padding: 20px;
        background-color: #737373;
    }

    .main{
        padding-top: 50px;
    }

    .footer{
        padding-top: 160px;
    }
    .footer_left{
        float: left;
    }

    .footer_right{
        text-align: right;

    }

    .total{
        float: right;
        text-align: right;
        padding-top: 5px;
        width: 29%;
    }

    .footer_date{
        float: right;
        padding-top: 150px;
    }
    .tab_t2{
		text-align: left;
		padding-left: 2px;
        width: 50%;
	}

</style>
    <body>  
        <div>
            {% block body %}
                
            {% endblock %}
        </div>
    </body>
</html> 